	<div class='row'>
		
		<div class= 'col-xs-9 main-panel'>
			
			<div class='background'>
				
				<h1 class='large-title heading'>Tra<span class='lo'>lo</span><span class='bo'>bo</span></h1>
				<h2 class='under-title heading'>The Traveller's Logbook</h2>
		
			</div>
			
			<%= link_to "How to create a Log", home_create_path, class: 'btn btn-lg btn-default tralobo-btn under-link full-button' %>

			<br><br>
			
			<%= link_to "View the LogMap", log_map_path, class: "btn btn-lg btn-default tralobo-btn under-link full-button" %>
			
			<br><br>
			
			<p>The site is in its first few days of life.  Please contribute a Log to help get us off the ground, and hopefully together we can create something intriguing and interesting.  There may still be bugs the are yet to be addressed and we working to tackle those before full release.</p>
			
			<br>
			
			<p><b>Welcome to Tralobo</b>, the place to find information and experiences regarding your next travel destination, or to share your experiences with the wider community.  At Tralobo, our goal is to build up a directory of tips, reviews and experiences throughout space and place.  We want to satisfy the explorers desire to share his discoveries, to alleviate the worried backpackers trepidation and to recreate good times for travellers and tourists everywhere.  We'd love it if you could help us on our mission by contributing to our directory and helping to build a collaboration to connect travellers everywhere.</p>
			
			<br>
			
			<p><b>Our vison</b> for the short term direction of the site is to move towards bringing in more interactive networking features.  Once we are consistently hitting our short term goal for traffic we will be introducing a user forum, a web support system and a method for rewarding top contributors.</p>
			<br>
			<p><b>Next update</b> - We are building a notification system so that users will be informed when another user comments on their Logs or Logs which they have commented on themselves. In addition to this the next update will contain a method for resetting user passwords.  In addition to this we are developing an image scraping system so that links posted will display a preview image.</p>

			<div class='well'>
				
				<p>You do not have to sign up to view our content.  If you would, however, like to make a log, or to comment on and rate logs created by others, sign up for your free account.<p>
				
				<%= link_to 'Sign Up Here', signup_path, class: 'btn btn-lg btn-default tralobo-btn' %><br>
			
			</div>
		
		</div>
		
		<div class='col-xs-3 side-panel side-panel-right'>
		
			<h3 class='heading'>Take a look at:</h3>
		
			<% random_location_lock = random_location %>
			<% if !random_location_lock.nil? %>
			
				<h2><%= link_to random_location_lock.city, random_location_lock, class: 'under-link heading' %></h2>
			
			<%end%> 
			
			<br>
			
			<div id='map-canvas' class='small-map'>
			</div>
		
		</div>
	
	</div>

	<script>
	var mapOptions = {
   center: new google.maps.LatLng(<%= coordinate_split_first(random_location_lock.coordinate) if !random_location_lock.nil? %>,<%= coordinate_split_last(random_location_lock.coordinate) if !random_location_lock.nil? %>),
   zoom: 8,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var ready = function() {
  mapSmallHome = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
	};
  
                $(document).ready(ready); 

                $(document).on('page:load',ready); 


	</script>



