<% provide(:title, 'Log in') %>
<div class='row'>
	<div class='col-xs-9 main-panel'>
		<h1 class='heading'>Log in</h1>
		<%= form_for(:session, url: login_path) do |f|%>
			<%= f.label :username %>
			<%= f.text_field :username, class: 'form-control' %>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= link_to "Forget password?", new_password_reset_path %>
			<br>
			<%= f.submit 'Log in', class: 'btn btn-default tralobo-btn form-btn' %>
		<% end %>
		<br>
		<p>Not already a user?  <%= link_to 'Sign up here!', signup_path %></p>
		<br>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4897913461695017"
     data-ad-slot="2465607480"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
	
	</div>
	<div class='col-xs-3 side-panel side-panel-right'>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4897913461695017"
     data-ad-slot="2465607480"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
		</div>
</div>
