<div class='well'>
<li id 'comment-<%=comment.id%>'>
	<% if current_page?(controller: 'users') %>
			
		<% if !comment.log.nil? %>

			<h4 class="heading under-link"><%= comment.log.title %></h4>

		<% end %>
	<% end %>

	<% if current_page?(controller: 'logs', action: 'show') %>

		<% if !comment.user.nil? %>

			<h4 class="heading under-link"><%=comment.user.username %></h4>

		<% end %>

	<% end %>

	<br>
	<% if comment.content == "This content has been removed by the administrator." %>
		<p class='censored'><%= comment.content %></p>
	<% else %>
		<p><%= comment.content %>
		</p>
	<% end %>

	<small class="timestamp">
    <%= time_ago_in_words(comment.created_at) %> ago.
  </small>
  <% if current_user %>
  <% if current_user.admin? %>
  <%= link_to 'Admin Delete', comment, method: :delete, data: { confirm: "Are you sure?" } %>
  <%= form_for comment do |f|%>
  	<%= f.hidden_field :content, value: "This content has been removed by the administrator." %>
  	<%= f.submit "Admin censor", class: 'link-button', data: { confirm: "Are you sure?" } %>
  <% end %> 
  <% end %>
  <% end %>
  <br>
</li>
</div>
