<% provide(:title, "Sign Up") %>
<div class='row'>
	<div class='col-xs-9 main-panel'>
		<h1 class='heading'>Sign Up</h1>
<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <p>Your username will be unique, used to log in to your account and displayed on you posts and comments.</p>
      <%= f.text_field :username, class: 'form-control' %>
      <br><br>
      <%= f.label :email %>
      <p>Your email address will be verified for account activation.</p>
      <%= f.email_field :email, class: 'form-control' %>
      <br><br>
      <%= f.label :password %>
      <p>Your password should be between 6 and 16 characters and contain atleast one number and atleast one letter.</p>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br><br><p>I accept the terms and conditions.</p>
      <%= f.submit "Create Account", class: "btn btn-default tralobo-button" %>
    <% end %>
  </div>
  <div class='col-xs-3 side-panel'>
  </div>
