<% provide(:title, "View Log") %>

<div class='row'>
	<div class='col-xs-9 main-panel'>
		<div class='title-tab'>
		<h1><%= @log.title%></h1>
		<br>
		<h3>by <b><%=@log.user.username%></b></h3>
	</div>
		<br>
		<div class='well'>
			<p><%= raw @log.content.gsub(/<\w+>/, ' ' ).gsub(/\n/, '<br>')%></p>
		</div>
		<br>
		<br>
		<h3 class='heading under-link'>Comments:</h3>
		<ul class='nav nav-tabs'>
			<li class='active'><a href='#' class='under-link'>Latest</a></li>
		</ul>
		<br>

		<% if logged_in? %>

			<a data-toggle="collapse" data-target="#new-comment" class='btn btn-lg btn-default tralobo-btn' id='create-comment-button'>Add comment</a>
			<br>
			<div id='new-comment' class='collapse well'>	
				<%= form_for(@comment) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
				  <div class="field">
			  	
		  			<%= f.hidden_field :log_id, value: @log.id %>	  	
		  			<br>
		   	
		   		  <%= f.text_area :content, placeholder: "Add comment...", class: 'form-control', maxlength: 250 %>
			  	
			  	</div>
			  	
			  	<br>
			  	
			  	<%= f.submit "Submit",class: 'btn btn-default tralobo-btn form-btn' %>
		  	<% end %>
		  </div>

		<% end %>
		<br>
		<% if @log.comments.any? %>

			<ol class='comments'>
				<%= render @comments %>
			</ol>
			<%= will_paginate @comments %>

		<%else%>
			<br>
			<p>No comments yet.</p>

		<%end%>
		<br>
	</div>

	<div class='col-xs-3 side-panel side-panel-right'>
		<% if !@log.location.nil? %>
		<h3><%= link_to @log.location.city, @log.location, class: 'heading location-heading under-link' %></h3>
		<% end %>
		<div id='map-canvas' class='small-map'>
		</div>

		<br>
		<% if @upvoted %>
			<%= link_to "Cancel vote", cancel_log_path(@log), method: :put, class: 'heading under-link' %>
		<% else %>
			<%= link_to "Vote +", like_log_path(@log), method: :put, class: 'heading under-link' %>
		<% end %>
		
		<%= render 'logs/score' %>

		<% if @downvoted %>
			<%= link_to "Cancel vote", cancel_log_path(@log), method: :put, class: 'heading under-link' %>
		<% else %>
			<%= link_to "Vote -", dislike_log_path(@log), method: :put, class: 'heading under-link' %>
		<% end %>
		
		<% if current_user %>
		<% if current_user.admin? %>
		<h3>Admin controls</h3>
		<%= link_to 'Delete this log', @log, method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
		<% end %>
		<% if @log.location %>
		<script>
	var mapOptions = {
   center: new google.maps.LatLng(<%= coordinate_split_first(@log.location.coordinate) %>,<%= coordinate_split_last(@log.location.coordinate) %>),
   zoom: 8,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  };
var ready = function() {
  mapSmallHome = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
};
                $(document).ready(ready); 

                $(document).on('page:load',ready); 

</script>
<% end %>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- ad2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4897913461695017"
     data-ad-slot="2465607480"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
</div>