<% provide(:title, "View Log") %>

<div class='row'>
	<div class='col-xs-9 main-panel'>
		<h1><%= @log.title%></h1>
		<br>
		<h3>by <b><%=@log.user.username%></b></h3>
		<br>
		<p><%=@log.content%></p>

		<br>
		<br>
		<h3 class='heading under-link'>Comments:</h3>
		<ul class='nav nav-tabs'>
			<li class='active'><a href='#' class='under-link'>Latest</a></li>
		</ul>
		<br>
		<% if @log.comments.any? %>

			<ol class='comments'>
				<%= render @comments %>
			</ol>
			<% will_paginate @comments %>

		<%else%>
			<br>
			<p>No comments yet.</p>

		<%end%>

	</div>

	<div class='col-xs-3 side-panel side-panel-right'>
		<h3><%= link_to @log.location.city, @log.location, class: 'heading under-link' %></h3>
		<div id='map-canvas' class='small-map'>
		</div>

		<br>

		<% if current_user.admin? %>
		<h3>Admin controls</h3>
		<%= link_to 'Delete this log', @log, method: 'delete', data: { confirm: "Are you sure?"} %>
		<% end %>

		<script>
	var mapOptions = {
   center: new google.maps.LatLng(<%= coordinate_split_first(@log.location.coordinate) %>,<%= coordinate_split_last(@log.location.coordinate) %>),
   zoom: 8,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  };
var ready = function() {
  mapSmallHome = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
};
                $(document).ready(ready); 

                $(document).on('page:load',ready); 

</script>
	</div>
