<div class='row'>
	<div class='col-xs-9 main-panel'>

		<h1 class='heading'>Directory</h1>
		Looking for a spot that's been logged?
		  <br>
		  <br>
		  <% cont_array.each do |cont_value| %>
		  <div class="panel-group">
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title heading under-link">
		          <a data-toggle="collapse" href="#collapse<%=cont_array.index(cont_value)%>"><%= cont_value %></a>
		        </h4>
		      </div>
		      <div id="collapse<%=cont_array.index(cont_value)%>" class="panel-collapse collapse">
		        <ul class="list-group">
        			<% state_hash = Location.where("continent = #{cont_array.index(cont_value)}")%>
        			<% if !state_hash.nil? %>
        				<% state_hash.uniq {|x| x[:state]} %>
        				<% state_hash.sort_by { |e| e[:state] }.each do |state_value| %>
        					<li><a class='directory-list' data-toggle='collapse' href="#collapseS<%=state_value.state%>"><%= state_array[state_value.state] %></a></li>
        					<div id="collapseS<%=state_value.state%>" class="panel-collapse collapse">
        						<ul class="list-group">
        							<% city_hash = Location.where("state = #{state_value.state}") %>
        							<% if !city_hash.nil? %>
        								<%city_hash.uniq {|x| x[:city]}%>
        								<%city_hash.sort_by {|e| e[:city].downcase}.each do |city_value| %>
        									<li class="directory-list"><%= link_to city_value.city, city_value, class: 'under-link' %></li>
        								<% end %>
        							<% else %>
        								<p>Unfortunately there are no logs in this state.</p>
        							<% end%> 
        						</ul>
        					</div>
        				<%end%>
        			<% else %>
        			<p>Unfortunately there are no logs in this continent</p>
        		<%end%>
      			</ul>
		      </div>
		    </div>
		  </div>
		  <%end%>
	</div>
</div>
		