<div class='row'>
	<div class='col-xs-9 main-panel'>

		<h1 class='heading'>Directory</h1>
		Looking for a spot that's been logged?
		  <br>
		  <br>
		  <% cont_array.each do |cont_value| %>
		  <div class="panel-group">
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title heading location-heading under-link">
		          <a data-toggle="collapse" href="#collapse<%=cont_array.index(cont_value)%>"><%= cont_value %></a>
		        </h4>
		      </div>
		      <div id="collapse<%=cont_array.index(cont_value)%>" class="panel-collapse collapse">
		        <ul class="list-group">
        			<% state_hash = Location.where("continent = #{cont_array.index(cont_value)}")%>
        			<% if !state_hash.nil? %>
        				<% state_hash.uniq {|x| x[:state]} %>
        				<% state_hash.sort_by { |e| e[:state] }.uniq {|x| x[:state] }.each do |state_value| %>
        					<li><a data-toggle='collapse' href="#collapseS<%=state_value.state%>"><%= state_array[state_value.state] %></a></li>
        					<div id="collapseS<%=state_value.state%>" class="panel-collapse collapse">
        						<ul class="list-group">
        							<% city_hash = Location.where("state = #{state_value.state}") %>
        							<% if !city_hash.nil? %>
        								<%city_hash.uniq {|x| x[:city]}%>
        								<%city_hash.sort_by {|e| e[:city].downcase}.each do |city_value| %>
        									<li><%= link_to city_value.city, city_value, class: 'under-link' %></li>
        								<% end %>
        							<% else %>
        								<p>Unfortunately there are no logs in this state.</p>
        							<% end%> 
        						</ul>
        					</div>
        				<%end%>
        			<% else %>
        			<p>Unfortunately there are no logs in this continent</p>
        		<%end%>
      			</ul>
		      </div>
		    </div>
		  </div>
		  <%end%>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4897913461695017"
     data-ad-slot="8651741884"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>

    <div class='col-xs-3 side-panel side-panel-right'>
        <h3 class='heading'>New location</h3>
        <br>
        <p>Can't find the location you want to log? Add a new location here.</p>
        <br>
        <%= link_to "Add Location", location_request_path, class: 'btn btn-default tralobo-btn under-link' %>
        <br><br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4897913461695017"
     data-ad-slot="2465607480"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
		