<% provide :title, 'New Location' %>
<div class= 'row'>
	<div class = 'col-xs-9 main-panel'>

		<h1 class= 'heading'>Add a new location</h1>
		<p>Use this page to request a new location.  Please make sure the location does not already exist in our directory.  You submission will be verified soon after you create your post and may be altered or removed it is deemed unsuitable.  Despite this, the new location will still be immediately available for use.  If the city name may be difficult to interpret (i.e. it shares its name with a city in a different location), feel free to add the country or other identification information.  The validation will correct any issues. </p>


	<% if current_user.admin? %>
		<p>Create new location.</p>
		<%= form_for(@location) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :continent %>
		<%= f.number_field :continent, class: 'form-control' %>
		<br>
		<%= f.label :state %>
		<%= f.number_field :state, class: 'form-control'%>
		<br>
		<%= f.label :city %>
		<%= f.text_field :city, class: 'form-control' %>
		<br>
		<%= f.label :coordinate %>
		<%= f.text_field :coordinate, class: 'form-control' %>
		<br>
		<%= f.submit "Continue", class: "btn btn-default tralobo-btn form-btn" %>
		<% end %>

	<% else %>
	<p>Request for the following city (or rural area) to be added to the directory.<p>
		<%= form_for(@location) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.hidden_field :continent,  value: 0 %>
		<%= f.hidden_field :state, value: 0 %>
		<%= f.text_field :city, class: 'form-control' %>
		<%= f.hidden_field :coordinate, value: "0.0,0.0" %>
		<br>
		<%= f.submit "Continue", class: "btn btn-default tralobo-btn form-btn" %>

		<% end %>
	<%end%>
	<br>
	</div>
	<div class='col-xs-3'>
		<% if current_user.admin? %>
		<%= render 'locations/admin_refs' %>
		<% end %>
	</div>
</div>




