<% provide(:title, @location.city) %>

<div class='row'>
	
	<div class='col-xs-9 main-panel'>
		<div class='title-tab'>
			<h1 class='heading'><%=@location.city %></h1>
			<%= image_tag 'wp.png', id: 'wiki' %>
			<%= link_to "#{@location.city} on Wikipedia", "https://en.wikipedia.org/wiki/#{@location.city}" %> 
		</div>
			
		<% if logged_in? %>
		
			<div id='new-log' class='collapse well'>
			
				<p>Neither the title nor the content may be left blank.  The character limit for the content is 1000.</p>
				
				<%= form_for(@log) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
		  	
		  		<div class="field">
		  	
		  			<%= f.label :title %>
		  			<%= f.text_field :title, class: 'form-control' %>
		  			<%= f.hidden_field :location_id, value: @location.id %>
		  	
		  			<br>
		   	
		   		  <%= f.text_area :content, placeholder: "Create new Log...", class: 'form-control', maxlength: 1000 %>
		  	
		  		</div>
		  	
		  		<br>
		  	
		  		<%= f.submit "Submit",class: 'btn btn-default tralobo-btn form-btn' %>
	  		<% end %>
	  </div>

	<% end %>

	<br>
	
	<% if @location.logs.any? %>
		<h3 class='under-link'><%= @location.logs.count %> logs posted</h3>

		<div class='row'>
		
			<div class='col-xs-6'>
				<h3 class='heading under-link'>Latest Logs</h3>
				<ol class='logs'>
					<%= render @logs %>
				</ol>
				<%= will_paginate @logs %>
			</div>
			
			<div class='col-xs-6'>
				<h3 class='heading under-link'>Most popular Logs</h3>
			</div>
		</div>

		<% else %>
		
			<h3 class='under-link'>No logs yet.</h3>
			<br>
			<p>When a log is posted for this location, it will be displayed here.</p>
			<br>
			<p>Why not get started and post a log of your experience in this location.</p>
			<br>
			<p>To search for another location, visit the <b><%= link_to 'directory', directory_path %></b>.</p>
			<br>
			<p>To see a map of locations users have inputted, visit the <b><% link_to 'LogMap', log_map_path%></b>.</p>
	</div>
			<%end%>
	</div>

	<div class='col-xs-3 side-panel side-panel-right'>

		<h3 class='heading'> Explore:</h3>

		<div id='map-canvas' class='small-map'>
		</div>

		<br>
		<% if logged_in? %>
		<a data-toggle="collapse" data-target="#new-log" class='btn btn-lg btn-default tralobo-btn' id='create-log-button'>Create Log for <%=@location.city %></a>
		<% else %>
		<%= link_to 'Log in to create Log', login_path, class: 'btn btn-lg btn-default tralobo-btn', id: 'create-log-button' %>
		<% end %>

		<% if !current_user.nil? %>
		<% if current_user.admin? %>
			<h3>Admin controls</h3>
			<%= link_to 'Edit location', edit_location_path %><br>
			<%= link_to 'Delete location', @location, method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
		<% end %>

		<script>
	var mapOptions = {
   center: new google.maps.LatLng(<%= coordinate_split_first(@location.coordinate) %>,<%= coordinate_split_last(@location.coordinate) %>),
   zoom: 8,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  };
var ready = function() {
  mapSmallHome = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
};
                $(document).ready(ready); 

                $(document).on('page:load',ready); 

</script>


</div>
</div>