<!DOCTYPE html>
<html>
<head>
	<%# title provided on each page for prefix here %>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# prevents CSRF attack %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
